body {
	margin-top: 2em;
	font-family: Arial, sans-serif;
}


code {
	font-family: monospace;
	font-size: 80%;
	border: 1px black solid;
	margin: 1em;
	padding: 0.25em 0.5em 0.25em 0.5em;
	background-color: #e7e7ff;
	color: navy;
	display: block;
}

FORM {
	width: 30em;
	max-width: 50%;
	display: block;
	float: none;
	clear: none;
/*	border: 1px blue dotted; */
}

FORM.pre-hidden {
	display: none;
}


FIELDSET LEGEND {
	font-weight: bold;
}

LABEL {
	display: block;
	clear: left;
	max-width: 25em;
	width: 25em;
	text-align: right;
	margin-left: auto; 
	margin-right: 0.2em;
}

table#index-main td {
	padding: 1em;
	margin: 1em;
	border: none;
}


div.floaty {
	display: block;
	clear: none;
	float: left;
	width: 45%;
	padding: 0.5em; 
	margin: 0.2em;
	z-index: 2;
/*	border: 1px blue dotted; */
}

div.floaty h2 {
	font-size: 1.2em;
	padding: 0.2em;
	margin: 0.2em;
}


div.panel {
	margin: 0;
	padding: 0;
	font-size: 84%;
	vertical-align: top;
	z-index: 0;
}

div.panel div {
	display: inline;
}

div.panel h1 {
	display: inline;
	padding: 0;
	margin: 0.3em;
	vertical-align: top;
	font-size: 1em;
	clear: none;
	float: none;
}

div.panel ul {
	display: inline;
	list-style-type: none;
	padding: 0;
	margin: 0.3em;
	vertical-align: top;
	clear: none;
	float: none;
}

div.panel ul.left{
	text-align: left;
	float: left;
}

div.panel ul.right{
	text-align: right;
	float: right;
}

div.panel ul li {
	display: inline;
	padding: 0;
	margin: 0;
}

div.panel ul.left li {
	padding-right: 0.5em;
}

div.panel ul.right li {
	padding-left: 0.5em;
}

div.panel ul li a {
	font-weight: normal;
	text-decoration: underline; 
	color: blue;
}

div.panel ul li a:hover {
	font-weight: normal;
	text-decoration: none;
}


div.panel ul li a.current {
	font-weight: bold;
	text-decoration: none; 
	color: black;
}



div.top {
	border-style: solid;
	border-color: #aaaacc;
	border-width: 0 0 1px 0;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

div.bottom {
	border-style: solid;
	border-color: #aaaacc;
	border-width: 1px 0 0 0;
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	margin: 0;
	padding: 0; 
}


